<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>FirstServerObj</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!--如果 报500，看一下class的路径是不是全类名，如果是全类名，
	在看看pattern 有没有/，如果有，你就clear一下项目，然后在build一下  -->
	<!-- 登录 -->
	<servlet>
		<servlet-name>logserver</servlet-name>
		<servlet-class>com.first.server.LoginServer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logserver</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
	<!-- 注册 -->
	<servlet>
	    <servlet-name>registerserver</servlet-name>
	    <servlet-class>com.first.server.RegisterServer</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>registerserver</servlet-name>
	    <url-pattern>/register.do</url-pattern>
	</servlet-mapping>

</web-app>